<div class="container-fluid col-6 mx-auto mt-5 mb-5">
    <main class="form-signin text-center">
        <form id="login-form">
            <h1 class="h3 mb-5 fw-normal">Login</h1>

            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="username-login" placeholder="Doe246" autofocus="true">
                <label for="username-login">Username</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="password-login" placeholder="Password"
                    autofocus="true">
                <label for="password-login">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-success mb-4" type="submit">Login</button>
            <a class="signup-link" href="/signup">Don't have an account? Register now</a>
        </form>
    </main>
</div>

<script src="/js/login.js"></script>